@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/ipl.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.main-section {
    width: 50%;
    line-height: 1;
}

.content h1 {
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.5px;
    color: #fff;
}

.content p {
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 25px;
    line-height: 1.5;
    color: #fff;
}

.dropdown .dropbtn {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #f00;
    text-transform: uppercase;
    margin-top: 25px;
    padding: 12px 20px;
    color: #fff;
    border: none;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    display: inline-block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.credit a {
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
    color: #fff;
    font-size: small;
    margin: 5px;
}